{% extends "base.html" %}

{% block content %}
<p>Current Listings of Yogi Bears mis-behavings.</p>
<p>If you see something incorrect please let an administrator know and they can delete these.</p>
<p>Note for Jellystone staff: Only a member of the 'administrators' group is able to delete records.</p>

    <table class="table table-striped">
      <thead>
        <th>ID</th><th>Complaint</th><th>Severity</th><th>Victim</th>
      </thead>
        <tbody>
            {% for dict_item in dictionary %}
            <tr>
                <td>{{ dict_item['id'] }}</td>
                <td>{{ dict_item['description'] }}</td>
                <td>{{ dict_item['severity'] }}</td>
                <td>{{ dict_item['complainer'] }}</td>
                {% if attributes %}
                    {% for attr in attributes %}
                        {% if attr.0 == 'memberOf' %}
                            {% for val in attr.1 %}
                                {% if val == 'administrators' %}
                                    <td><a href="/deletecomplaint?id={{ dict_item['id'] }}" class="btn btn-default">Delete</a></td>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endif %} 
            </tr>
            {% endfor %}
        </tbody>
    </table>
<a href="/filecomplaint" class="btn btn-default">File A New Complaint</a>
{% if attributes %}
    {% for attr in attributes %}
        {% if attr.0 == 'memberOf' %}
            {% for val in attr.1 %}
                {% if val == 'PlatformConfiguration' %}
                    <a href="/restorecomplaints" class="btn btn-default">Restore Complaints</a>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endif %} 	 
    
{% endblock %}
