{% extends "base.html" %}

{% block content %}
<p>Current Listings of Yogi Bears mis-behavings.</p>
<p>If you see something incorrect please let an administrator know and they can delete these.</p>
<p>Note for Jellystone staff: Only the 'admin' user or a member of the 'administrators' group is able to delete records.</p>

    <table class="table table-striped">
      <thead>
        <th>Complaint</th><th>Severity</th><th>Victim</th>
      </thead>
        <tbody>
        {% if complaintDic %}
            {% for value in complaintDic %}
            <tr>
            <td>
                <ul class="list-unstyled">
                    <li>{{ value[0] }}</li>        	
                </ul>
            </td>
            <td>
                <ul class="list-unstyled">
                     <li>{{ value[1] }}</li>        	
                </ul>
            </td>
            <td>
                <ul class="list-unstyled">
                    <li>{{ value[2] }}</li>        	
                </ul>
            </td>
            </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
<a href="/filecomplaint" class="btn btn-default">File A New Complaint</a>
{% if attributes %}
    {% for attr in attributes %}
        {% if attr.0 == 'memberOf' %}
            {% for val in attr.1 %}
                {% if val == 'administrators' %}
                    <a href="/deletecomplaints" class="btn btn-default">Delete Complaints</a>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endif %} 	 
    
{% endblock %}
