{% extends "base.html" %}

{% block content %}

<p>Eventually this page will have detailed information in regards to SAML and testing SAML. For now please use the links below to get moving.</p>
    <table class="table table-striped">
        <thead>
            <th>Description</th><th>Page</th>
        </thead>
        <tbody>
            <tr><td>RFC for SAML 2.0</td>
            <td><ul class="list-unstyled">
            <li>https://tools.ietf.org/html/rfc7522</li>            	
            </ul></td></tr>

            <tr><td>Common SAML Implementation Issues</td>
            <td><ul class="list-unstyled">
            <li>https://research.aurainfosec.io/bypassing-saml20-SSO/</li>            	
            </ul></td></tr>
        </tbody>
    </table>	
<br />

{% endblock %}